APP_NAME="Mốt Việt"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=Asia/Ho_Chi_Minh
APP_URL=http://127.0.0.1:8000

APP_LOCALE=vi
APP_FALLBACK_LOCALE=vi
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=doan_banquanao
DB_USERNAME=root
DB_PASSWORD=root_password

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=acczints001@gmail.com
MAIL_PASSWORD=xehaqpksiuosfzof
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="acczints001@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

SCOUT_DRIVER="collection"

GOOGLE_CLIENT_ID=102022031589-nccmhh4vr0me33tf4p1u6fok2ig96hp7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

PAYOS_CLIENT_ID=d6b71579-a854-4534-9d3d-733e46e0ea8d
PAYOS_API_KEY=e922e0be-064b-4d74-893c-f9fd338adfd9
PAYOS_CHECK_SUM_KEY=6cab8aa7b06a0b1154816ced696ce9ef99f6ec4e4918cccc542b7aae8c4e938d